<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
       <%- include('./partials/scripts.ejs') %>
       <form action="/user/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="Pdf" accept="application/pdf">
            <button type="submit">Upload</button>
        </form>
    </div>
    </body>
</html>